.mmaaiinn {
    background-color: #EFF6FF;
    min-height: 100vh;
    padding-bottom: 220px; /* 주문내역 영역과 동일하게 아래에 여백 */
    overflow-y: auto;
}
.main-top-sec {
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
}

.top-img {
    margin-top: 20px;
    width : 30px;
    background:oklch(.623 .214 259.815);
    border-radius: 50%;

}

.drink-total-ct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 한 줄에 3개 */
  gap: 20px;
  margin: 0 auto;
  max-width: 960px;  /* 3*320px 등으로 지정 가능 */
}


.menu-detail-ct {
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.menu-contant-ct {
    width : 300px;
    height: 200px;
}
.menu-img img{
    width : 100%;
    height : 200px;
    object-fit: contain;
    /* background-color: red; */
}

.order-details {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 -2px 10px #cddbe7;
    height: 220px; /* 주문내역 영역 높이 지정 */
}

.order-header {
    width: 100%;
    background-color: #2563EB;
    display: flex;
    gap : 10px;
}

.order-main {
    width : 100%;
    background-color: white;
    height : 200px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-shop-img {
    width : 20px;
    object-fit: contain;
    background:oklch(.623 .214 259.815);
    border-radius: 50%;
}

.order-shop-img2 {
    width : 80px;
}
