.mmaaiinn {
    background: linear-gradient(to bottom right, #EFF6FF, #F0F9FF, #EEF2FF);
    min-height: 100vh;
    padding-bottom: 220px; /* 주문내역 영역과 동일하게 아래에 여백 */
    overflow-y: auto;
    /* width:750px; */
}
.main-top-sec {
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
}

.top-title {
        background: linear-gradient(to right, #2563EB, #4F46E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    margin : 0px;
}

.top-sub-title {
    font-size : 14px;
    color : #717872;
    margin : 0px;
    margin-bottom: 15px;
}

.line {
  width: 100%;          
  height: 1px;         
  background-color: rgb(214, 214, 214);
    margin-bottom: 10px;
}


.top-img {
    margin-top: 20px;
    width : 30px;
    background:oklch(.623 .214 259.815);
    border-radius: 50%;

}

.drink-total-ct {
    display: flex;
    flex-wrap: wrap;
    width: 800px; /* 전체 영역 너비 */
    /* margin: 0 auto; */
}


.menu-detail-ct {
  width: 225px;
  height: 330px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left : 13px;
  margin-right: 13px;
  margin-bottom: 30px;
  border-radius: 15px;
}


.menu-contant-ct {
    width : 225px;
    height: 150px;
}

.menu-img {
    width: 225px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-img img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* background-color: red; */
}


.order-details {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 -2px 10px #cddbe7;
    height: 220px; /* 주문내역 영역 높이 지정 */
}

.order-header {
    width: 100%;
    display: flex;
    height: 35px;
    gap : 10px;
    background: linear-gradient(to right, #2563EB, #4F46E5);
    color: #FFFFFF;
    align-items: center;
    padding-left: 10px;

}

.order-main {
    width : 100%;
    background-color: white;
    height : 200px;
    display : flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.order-shop-img {
    width : 20px;
    object-fit: contain;
    background:oklch(.623 .214 259.815);
    border-radius: 50%;
}

.order-shop-img2 {
    width : 80px;
    margin-top : 30px;
}


.order-text {
    color : rgb(118, 118, 247);
    margin-top: 0;
}

.menu-name, .menu-price {
    margin-left: 10px;
}

.menu-name {
    margin-top:  90px;
}

.menu-price {
    margin-top: 10px;
    background: linear-gradient(to right, #2563EB, #4F46E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.order-history-total {
    margin-top: 10px;
}

.order-footer-line {
  width: 95%;          
  height: 1px;         
  background-color: rgb(214, 214, 214);
    margin-bottom: 10px;
    margin-top : 10px;

}