    .onboard-total-ct { 
        display : flex;
        justify-content: center;
        align-items: center;
        margin-top:150px;
        flex-direction: column;
    }

    .logo-ct {
        width : 200px;
        height: 100px;
        /* background-color: rgba(204, 229, 250, 0.472); */
        background-color: #FFF;
        border-radius: 20px;
        display : flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
        animation: fade-in 0.6s ease-out forwards;
    }


    .eulji-logo {
        width : 60px;
        height: 60px;
        background-color: #FFF;
        border-radius: 50%;
        display :flex;
        align-items: center;
        justify-content: center;
        border-width: 1px;
        border-color: #2563EB;
        border-style: solid;
    }

    .eulji-logo > img {
        width : 100px;
        object-fit: cover;
        margin-left: 4px;
        margin-top : 4px;
    }

    .kiosk-logo {
        width : 55px;
        height: 55px;
        border-radius: 10px;;
        display : flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #2563EB, #4F46E5);

    }
@keyframes fade-in {
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

    .kiosk-logo > img {
        width : 40px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
        
    }

    .kiosk-title {
        margin-top: 20px;
        font-size: 40px;
    background: linear-gradient(to right, #2563EB, #4F46E5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    }

    .kiosk-eng {
        color : rgba(128, 128, 128, 0.902);
    }

    .click {
    background: linear-gradient(to right, #2563EB, #4F46E5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 25px;
    margin-bottom: 0px;

    }

    .kiosk-solution {
        color : rgba(128, 128, 128, 0.902);
    }
    .middle-line {
        width : 1px;
        background-color: #4F46E5;
        height: 50px;
    }
    .order-method-ct {
        display : flex;
        gap : 50px;
        margin-top : 50px;
        height: 300px;
    }

    .Take-out-ct, .Dine-in-ct {
        display: flex;
        flex-direction: column;
        width : 200px;
        height: 200px;
        background: #2563EB;
        align-items: center;
        justify-content: center;
        /* height: 100px; */
        color : #FFF;   
        border-radius: 20px;
        animation: fade-in 0.6s ease-out forwards;
        
    }

    .Take-out-ct {
     background: #2564ebe9;
    }

    .Dine-in-ct {
        background: #4e46e5de;
    }

    .tt, .tt2 {
        width : 60px;
        /* background-color: aqua; */
        height : 60px;
        border-radius: 10px;
        margin-top : 10px;
        display : flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
    }

    .tt {
        background-color: #7ca5fed1;
    }

    .tt2 {
        background-color: #7d77f1;
    }


    .takeout, .pack {
    margin: 0;
    margin-top: 10px;
    font-size: 25px;
    }

    .takeout-sub, .pack-sub {
        margin: 0;
        margin-top : 5px;
        font-size: 15px;
    }

